[user]
	name = kaelchan
	email = kaelchan@hotmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor = vim
[alias]
    stash-unapply = !git stash show -p | git apply -R
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    plog = log --pretty=oneline --abbrev-commit
    tlog = log --graph --oneline --all
    conflict = diff --name-only --diff-filter=U  # View all files that have merge conflicts
[push]
	default = simple
